{% include 'header.html' %}

<div id="login">

  <h5> Connect to Server </h5>

  <form method="POST">
  {{ ipform.csrf_token }}
  <div class="input-group" id="connect_server">
    <div class="col-sm-2">
      {{ ipform.ip(class="form-control") }}
      <small class="form-text text-muted"> {{ ipform.ip.label }} </small>
    </div>
    <div class="col-sm-2">
      {{ ipform.port(class="form-control") }}
      <small class="form-text text-muted"> {{ ipform.port.label }} </small>
    </div>
  </div>
  {{ ipform.submit(class="btn btn-primary login-button") }}
</form>


<div id="exist_session">
  <h5> Upload an existing session</h5>
  <form action="" method="POST">
  {{ fileForm.csrf_token }}
  {{ fileForm.file(class="file_upload") }} <br>
  {{ fileForm.upload(class="btn btn-primary login-button") }}
  </form>
</div>


</div>


</body>

</html>
