{% include 'header.html' %}

<div id="session_page">
  <p> Session Name: <span style="color: rgb(0, 123, 250)"> {{ page }}</span> <br>
    Key Size: <span style="color: rgb(0, 123, 250)">{{ session['key_size'] }} Bits</span> ,
    Data Type: <span style="color: rgb(0, 123, 250)">{{ session['data_type'] }}</span> </p>
  <br>
  <h6> Data Entry: </h6>

  {% if session['data_type']=='Polynomial' %}
  <form method='POST'>
    {{ dataEntry_poly.csrf_token }}
    <div class="row">
      <div class="col-sm-3">
        {{ dataEntry_poly.data_label_poly(class="form-control") }}
        <small class="form-text text-muted">{{ dataEntry_poly.data_label_poly.label }}</small>
      </div>
      <div class="text"> = </div>
      <div class="col-sm-2">
        {{ dataEntry_poly.data_field_poly(class="form-control") }}
        <small class="form-text text-muted">{{ dataEntry_poly.data_field_poly.label }}</small>
      </div>
      <div class="col-sm-2">
        {{ dataEntry_poly.submit_poly(class="btn btn-primary") }}
      </div>
    </div>
  </form>

  {% elif session['data_type']=='Integer' %}

  <form method='POST'>
    {{ dataEntry_int.csrf_token }}
    <div class="row">
      <div class="col-sm-3">
        {{ dataEntry_int.data_label_int(class="form-control") }}
        <small class="form-text text-muted">{{ dataEntry_int.data_label_int.label }}</small>
      </div>
      <div class="text"> = </div>
      <div class="col-sm-2">
        {{ dataEntry_int.data_field_int(class="form-control") }}
        <small class="form-text text-muted">{{ dataEntry_int.data_field_int.label }}</small>
      </div>
      <div class="col-sm-2">
        {{ dataEntry_int.submit_int(class="btn btn-primary") }}
      </div>
    </div>
  </form>

  {% endif %}


  <br>

  <h6> Data Evaluation: </h6>
  <form method='POST'>
    {{ dataEval.csrf_token }}
    <div class="row">
      <div class="col-sm-3">
        {{ dataEval.data_label_eval(class="form-control") }}
        <small class="form-text text-muted">{{ dataEval.data_label_eval.label }}</small>
      </div>
      <div class="text"> = </div>
      <div class="col-sm-5">
        {{ dataEval.data_field_eval(class="form-control") }}
        <small class="form-text text-muted">{{ dataEval.data_field_eval.label }}</small>
      </div>
      <div class="col-sm-2">
        {{ dataEval.submit_eval(class="btn btn-primary") }}
      </div>
    </div>
  </form>
  <br>

  <h6> Data Decryption: </h6>
  <form method='POST'>
    {{ dataDecrypt.csrf_token }}
    <div class="row">
      <div class="col-sm-3">
        {{ dataDecrypt.data_label_decrypt(class="form-control") }}
        <small class="form-text text-muted">{{ dataDecrypt.data_label_decrypt.label }}</small>
      </div>
      <div class="col-sm-2">
        {{ dataDecrypt.submit_decrypt(class="btn btn-primary") }}
      </div>
      {% if session['decrypted'] != None %}
      <p> Decrypted value for <span style="color: rgb(0, 123, 250)"> {{ session['decrypted'][0] }} </span>: {{ session['decrypted'][1] }}</p>
      {% endif %}
    </div>
  </form>
  <br>


  <h4> Manage This Session </h4>
  <br>

  <h6> Check Existing Labels:
    <a href="about:blank" target="_blank">
      <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Open a New Tab</button>
    </a>
  </h6>
  <br>

  <h6> Delete Current Seesion and All Data:
    <a href="about:blank" target="_blank">
      <button type="submit" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
    </a>
  </h6>
  <br>

  <h6> Download Current Session for Future Use:
    <a href="about:blank" target="_blank">
      <button type="submit" class="btn btn-success" style="margin-left: 10px;">Download</button>
    </a>
  </h6>
  <br>





</div>




</body>

</html>
