/***************/
/* HEADER.HTML */
#nav-bar {
  width: 100%;
  background-color: rgb(248, 249, 250);
  overflow: auto;
}

#nav-bar a {
  float: left;
  padding: 12px;
  text-decoration: none;
  width: calc(100%/3);
  text-align: center;
}

#nav-bar a:hover {
  background-color: rgb(242, 242, 242);
  transition: .3s ease-in-out;
}

#title {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 15px 0px 0px 0px;
  background-color: rgb(248, 249, 250);
}

.alert {
  position:static;
  /* right:0; */
  /* top:10%; */
  display: block;
  float: right;
  padding: 7px;
  margin: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.error {
    color: white;
    background-color: rgb(228,52,73);
    border-color: rgb(228,52,73);
}

.success {
  color: white;
  background-color: rgb(0, 167, 76);
  border-color: rgb(0, 167, 76);
}

.info {
  color: white;
  background-color: rgb(0, 123, 250);
  border-color: rgb(0, 123, 250);
}

/**************/
/* LOGIN.HTML */

#login  {
  display: block;
  text-align: center;
  margin-top: 50px;
}

#connect_server {
    justify-content: center;
}

.login-button {
  margin-bottom: 50px;
}

.file_upload {
  background-color: rgb(240,240,240);
  margin-bottom: 5px;
}

.radio li {
  /* list-style: none; */
  display: inline;
  margin-right: 10px;
}

/*****************/
/* DATABASE.HTML */
#session_page {
  margin: 15px 10px 0px 10px;
}
